@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

body {
    margin: 0;
    font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}


/* css on Header */

.navbar_headerTips ul li a.active {
    color: #0089F1 !important;
}


/* css on 6in1 */

body a {
    text-decoration: none;
    color: #222;
}

.odds-table-bg {
    background-color: #d0d0d0;
}

body .oodstable-t {
    color: #666;
}

body .oodstable-t {
    background-color: #e5e5e5;
}

.oodstable-t {
    text-align: center;
    font-weight: bold;
    line-height: 22px;
}

#teamid .sl {
    text-align: left;
}

#teamid .Leaguestitle {
    background: #f0f0f0;
}

.l1 {
    float: left;
    margin-left: 2px;
}

.l1 a {
    font-weight: bold;
}

body .b1 {
    background-color: #fff !important;
}

body .red {
    color: #d64444;
}

body .blue {
    color: #0089F1;
}

A.sb {
    FONT-WEIGHT: bold;
    COLOR: #de574a;
    text-DECORATION: none;
}

#teamid .sr {
    text-align: right;
}

#teamid .underLine a {
    text-decoration: underline;
}

.down {
    background-color: #f9d2d2 !important;
}

.up {
    background-color: #c9e8c6 !important;
}

span.change_status {
    background-color: #ecbc37;
}

div#\36 in1 table:not([data-t]),
div#\36 in1 table[data-t *="Finished"],
div#\36 in1 table[data-t *="Pend"],
div#\36 in1 table[data-t *="Cancel"],
div#\36 in1 table[data-t *="Abd"],
div#\36 in1 table[data-t *="Postp"],
div#\36 in1 table[data-t *="Pause"],
/* table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-s="-1"], */
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-s="-10"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-s="-11"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-s="-14"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[chodds=""],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Finished"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Pend"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Cancel"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Abd"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Postp"],
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle tbody tr[data-t *="Pause"] {
    display: none !important;
}

.in-gif {
    display: inline-block;
    background: url(../public/in.gif);
    width: 3px;
    height: 8px;
}

table.odds-table-bg,
div#caothu table,
table.dntable-list.-td-0.table.table-hover.table-striped.table-bordered.align-middle {
    border-collapse: collapse;
    border: none;
}

.matchLive .tr-title th {
    color: #888;
    font-weight: normal;
    line-height: 24px;
    background-color: #eaeaea;
    border-bottom: 1px solid #d8d8d8;
    white-space: nowrap;
}

table.odds-table-bg tbody tr.tb-bgcolor1 {
    border-bottom: 1px solid indigo;
    border-color: #e5e5e5;
}

table.odds-table-bg tbody tr.tb-stat1 {
    background: #fff;
}

.matchLive .sb {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.matchLive .tr-title {
    background: #efefef;
    color: #222;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
}

.matchLive .company-comp tr {
    text-align: center;
}

.matchLive .tb-bgcolor1 {
    background: #fff;
}

.matchLive .lb {
    border-left: 1px solid #e5e5e5;
}

.matchLive .company-comp span {
    padding: 5px 0;
    /* display: block; */
}

.matchLive .company-comp .up2 {
    background-position-y: 12px;
}

table.odds-table-bg td {
    font-size: 14px;
}

td span.o-W,
td span.o-L,
td span.o-D,
td span.o-O,
td span.o-U {
    color: #fff;
    border-radius: 2px;
    width: 25px;
    display: inline-block;
    line-height: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

td.HW span.o-W,
td.HW span.o-L,
td.HW span.o-D,
td.HW span.o-O,
td.HW span.o-U {
    line-height: 25px;
}

td span.o-D {
    background-color: #348ce2;
}

td span.o-W,
td span.o-O {
    background-color: #d64444;
}

td span.o-L,
td span.o-U {
    background-color: #71ab49;
}

/* .up2 {
    background: url(/images/redup.png) no-repeat 43px 5px;
    display: block;
    width: 50px;
    margin: 0 auto;
    color: #f00;
} */


/* ------------------------------------------------------------------------------------------ */


/* DashBroard  */


/* CaoThu  */

tbody,
td,
tfoot,
th,
thead,
tr {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}

.dntable-list {
    font-size: 11px;
    text-align: center;
    border-color: rgba(0, 68, 98, .12);
    width: 100%;
}

.align-middle {
    vertical-align: middle;
}

.dntable-list thead {
    background: #03a9f4;
    text-align: center;
}

.table>thead {
    vertical-align: bottom;
}

.table>tbody {
    vertical-align: inherit;
}

.dntable-list thead tr {
    vertical-align: middle;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 1px;
}

.dntable-list>:not(caption)>*>* {
    padding: 8px 2px;
}

.table-bordered>:not(caption)>* {
    border-width: 1px 0;
}

.table>:not(caption)>*>* {
    padding: 0.5rem 0.5rem;
    border-bottom: 1px solid transparent;
    border-color: #e5e5e5;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table-striped>tbody>tr:nth-of-type(odd) {
    --bs-table-accent-bg: rgba(0, 0, 0, 0.05);
    color: #212529;
}

table.dntable-list thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

table.tooltaixiu2 tbody tr[data-s="1st Half"],
table.tooltaixiu2 tbody tr[data-s="2nd Half"],
table.tooltaixiu2 tbody tr[data-s="1"] {
    --bs-table-accent-bg: #FFDDD1;
    color: #212529;
}

table.dntable-list tbody tr:hover {
    --bs-table-accent-bg: #8888888a !important;
    cursor: pointer;
}

.dntable-list.-td-0 tbody td {
    padding: 0;
    border-color: #0000005e !important;
}

.dntable-list tbody td {
    height: 1px;
    padding: 4px 1px;
}

.dntable-list tbody td p.me_color {
    color: red;
}

.dntable-list .tr__row {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dntable-list .tr__col:not(:last-child) {
    border-bottom: 1px solid rgba(0, 68, 98, .12);
}

.dntable-list .tr__col {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding: 4px 1px;
}

/* modal caothu  */

div#caothu thead tr th {
    color: #888;
    font-weight: normal;
    line-height: 24px;
    background-color: #eaeaea;
    border-bottom: 1px solid #d8d8d8;
    white-space: nowrap;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 0 !important;
}

div#caothu tbody tr td.rb {
    border: 1px solid red;
}

div#caothu tbody tr td.lb.time {
    border-right: 1px solid transparent;
}

table.tooltaixiu2 tbody tr td {
    padding: 5px 0;
    border-bottom: 1px solid transparent;
    border-color: #e5e5e5;
    text-align: center;
}



div#caothu table thead tr.flexed {
    position: sticky;
    top: 0;
    z-index: 1;
}

div#caothu table thead tr.flexed1 {
    position: sticky;
    top: 30px;
    z-index: 1;
}

/* category  */

.bxlistbytax_top {
    display: flex;
    margin: 0 -10px;
}

.bxlistbytax_top .bxitem_post:first-child {
    width: 70%;
    padding: 10px;
}

.bxlistbytax_top .bxitem_post:last-child {
    width: 30%;
    padding: 10px;
}

.bxlistbytax_col3 {
    display: flex;
    margin: 0 -10px;
}

.bxlistbytax_col3 .bxitem_post {
    width: 33.3%;
    padding: 10px;
}



.bxlistbytax_top .bxitem_post:first-child h5 {
    font-size: 20px;
    line-height: 28px;
    margin: 8px 0;
}

.bxitem_post h5 a {
    color: #000;
    transition: 0.3s;
}

.bxitem_post .thumb {
    border-radius: 5px;
    transition: 0.5s;
    position: relative;
}

.bxlistbytax_top .bxitem_post:first-child .thumb img {
    width: 100%;
    height: 370px;
}

.bxlistbytax_top .bxitem_post:last-child .thumb img {
    height: 230px;
    width: 100%;
}

.bxitem_post .thumb img {
    border-radius: 5px;
}

.bxlistbytax_col3 .bxitem_post .thumb img {
    width: 100%;
    height: 195px;
}

.bxlistbytax_top .bxitem_post:last-child h5,
.bxlistbytax_col3 .bxitem_post h5 {
    font-size: 18px;
    margin: 8px 0;
    line-height: 24px;
}

.bxlistbytax_top .bxitem_post .bxcat_abs,
.bxlistbytax_col3 .bxitem_post .thumb .bxcat_abs,
.bxlistbytax_bottom .thumb .bxcat_abs {
    position: absolute;
    bottom: 10px;
    left: 0px;
    z-index: 2;
}

.bxcat_abs a,
.bxitem_post .thumb .bxcat_abs a {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    display: inline-block;
    margin: 0 5px;
    padding: 6px 15px;
    border-radius: 2px;
}

.bxcat_abs a:hover,
.bxitem_post .thumb .bxcat_abs a:hover {
    background: #3452ff;
    color: #fff;
}

.bxflex_mg {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
}

.bxcontainer_single.bxw65 {
    width: 66.66%;
}

.bxcontainer_single.bxw65 {
    text-align: justify;
}

.bxcontainer_single {
    padding: 0 15px 0 0;
    border-right: unset !important;
}

.bxcontainer_single {
    background: #fff;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.bxlistbytax_bottom .bxitem_post {
    border-bottom: none;
}

.bxlistbytax_bottom .bxitem_post {
    padding: 12px 0;
    /* border-bottom: 1px solid #ddd; */
    margin: 0;
}

.bxflex_mg10,
.bxlistbytax_bottom .bxitem_post {
    margin-left: -10px;
    margin-right: -10px;
    display: flex;
}

.bxw30,
.bxlistbytax_bottom .bxitem_post .thumb img {
    width: 100%;
}

.bxw70,
.bxlistbytax_bottom .bxitem_post .bxtt {
    width: 70%;
    padding-left: 10px;
    padding-right: 10px;
}

.bxw70,
.bxlistbytax_bottom .bxitem_post .bxtt h5 {
    margin: 0;
    font-size: 18px;
}

.bxlistbytax_bottom .thumb {
    height: 145px;
    border-radius: 5px;
    width: 30%;
}

/* content  */
.content p {
    text-align: justify;
}

.content img {
    width: 100%;
    border-radius: 10px;
}

/* sidebar  */
.nc-WidgetHeading1.relative.h1.title {
    display: inline-block;
    font-size: 16px !important;
    font-weight: 700;
    text-transform: uppercase;
    padding: 5px 20px 5px 20px;
}

.recent-post ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding: 25px;
}

.recent-post ul li {
    display: block;
    margin: 0px 0px 20px 0px;
}

.recent-post ul li a {
    display: block;
    overflow: hidden;
}

.recent-post ul li a span.post-left {
    display: block;
    float: left;
    width: 28%;
    height: 80px;
    border-radius: 5px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: 50% 50% !important;
}

.recent-post ul li a span.post-right {
    display: block;
    float: right;
    width: 70%;
    height: 60px;
    overflow: hidden;
}

.recent-post ul li a span.post-right h2 {
    display: block;
    font-size: 11pt;
    font-weight: 700;
    line-height: 13pt;
    color: #000;
    padding: 0;
    margin: 0px 0px 10px 0px;
    overflow: hidden;
    height: 32px;
}

.recent-post ul li a span.post-right b {
    display: block;
    font-size: 9pt;
    font-weight: 700;
    color: #000;
}

.bxkeotype span.tip::before {
    content: "";
    position: absolute;
    left: -40px;
    top: -15px;
    width: 100px;
    height: 40px;
    background: #1a73e8;
    z-index: -1;
}